<% layout('/layouts/boilerplate')%>

<div class="card mx-auto shadow" style="width: 35rem;">
  <img class="card-img-top" src="https://blog.butterfield.com/wp-content/uploads/2018/03/Rockies-Fall-960px-compressed.jpg" alt="Card image cap">
  <div class="card-body">
            <h1 class="text-center">Edit Campground</h1>
            <form action="/campgrounds/<%= campground.id %>?_method=PUT" method="POST" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="form-group mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class='form-control' id="title" name="campground[title]"
                        value="<%= campground.title %>" required>
                </div>
                <div class="form-group mb-3">
                    <label for="location" class="form-label">location</label>
                    <input type="text" class='form-control' id="location" name="campground[location]"
                        value="<%= campground.location %>" required>
                </div>
                <div class=" form-group mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea type='text' class='form-control' id="description" name="campground[description]"
                        required><%= campground.description %></textarea>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="image" multiple>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" value="<%= campground.price %>"
                            aria-label="price" aria-describedby="campground price" name="campground[price]" required>
                    </div>
                </div>
                <div class='mb-3'>
                    <% campground.image.forEach((img, i)=> { %>
                        <img src="<%=img.thumbnail%> " class="img-thumbnail" alt="">
                        <div class="form-check">
                            <!-- the value is stored in the array deleteImage denoted by square brackets  -->
                            <input class="form-check-input" type="checkbox" value="<%=img.filename%>" id="image-<%= i %>" name="deleteImage[]">
                            <label class="form-check-label" for="image-<%= i %>">Delete image</label>
                        </div>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success btn-block">Update campground</button>
                </div>
            </form>
        </div>
    </div>  </div>
</div>







    