<% layout('/layouts/boilerplate')%>
  <div id="cluster-map"></div>
  <% for ( let campground of campgrounds){ %>
    <div id="campground-card" class="card mb-3">
      <div class="row">
        <div class="col-md-5">
          <% if (campground.image.length ){ %>
            <img id="campground-image" class="img-fluid" src='<%= campground.image[0].url  %> ' alt="">
            <% } else { %>
              <img src="" alt="">
              <% } %>
        </div>
        <div id="campground-text" class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <p class="card-text">
              <%= campground.description %>
            </p>
            <p class="card-text"><small class="text-muted">
                <%= campground.location %>
              </small></p>
            <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">View Campground</a>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <!-- camp variable now accessible in clustermap.js -->
    <script>
      const camp = <%- JSON.stringify(campgrounds) %>
    </script>

    <!--since public is default folder, just need to go into scripts folder.-->
    <script src="/scripts/clusterMap.js"></script>